# =========================
# Python / Django
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
venv/

# =========================
# Node / Angular
# =========================
.angular/
/node_modules
/dist
/npm-debug.log*
/package-lock.json

# =========================
# IDEs y Editores
# =========================
.vscode/
.idea/
*.swp

# =========================
# Archivos del Sistema Operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs y Archivos Temporales
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tmp
*.out

# =========================
# Entornos y Variables Locales
# =========================
.env
.env.local
.env.*.local

# =========================
# Coverage / Testing
# =========================
coverage/
.nyc_output/

# =========================
# Compilación de TypeScript
# =========================
*.tsbuildinfo

